* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/*header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.container {
  max-width: 1199px;
  margin: auto;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_content a {
  text-decoration: none;
}
.header_content nav {
  display: flex;
  align-items: center;
}
.header_content ul {
  display: flex;
  margin-right: 30px;
}
.header_content li {
  padding: 55px 15px;
  list-style: none;
  color: black;
}
.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
/*ane header*/
.carousel {
  width: 100%;
  height: 600px;
  padding-top: 180px;
  background-image: url(./abc/hinhbaitap/pic2.png);
  background-size: 100%;
  background-position: top;
}
.carousel .container {
  max-width: 1199px;
  margin: auto;
}
.carousel-content {
  display: flex;
}
.carousel-left {
  width: 60%;
  height: 100%;
}
/*.carousel-right{
    width: 40%;
    height: 100%;
}*/
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}
.carousel-article {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 35px;
  color: #636363;
}
.carousel-article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.carousel-article ul {
  display: block;
}
.carousel-article li {
  list-style: none;
  display: flex;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.carousel-article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}
.carousel-article button {
  padding: 20px 35px;
  font-size: 15px;
  /* font-weight: 500; */
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  /* transition: all .5s; */
  border-radius: 30px;
  color: #fff;
  /* cursor: pointer; */
  /* outline: 0; */
  /* text-transform: uppercase; */
  /* line-height: 1.2; */
}

/*services*/

.services {
  width: 100%;
  height: 700px;
  /* padding-bottom: 0; */
  background-image: url(./abc/hinhbaitap/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 100px;
  margin-top: 215px;
}
.services_container {
  max-width: 1199px;
  margin: auto;
}
.services_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services_item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
.services_item img {
  width: 215px;
}
.services_item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  color: #636363;
  line-height: 1.8;
}
.services_item:hover {
  transform: translateY(-20px);
}
/*ABOUTUS*/
.aboutus {
  background-image: url(./abc/hinhbaitap/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  /* overflow: hidden;*/
  padding-top: 115px;
}
.aboutus_container {
  max-width: 1199px;
  /*margin: auto;*/
}
.aboutus_content {
  display: flex;
}
element.style {
  visibility: visible;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-name: fadeInLeft;
}
.aboutus_left {
  width: 50%;
}
.aboutus_left img {
  margin-top: 65px;
  border-radius: 0 100px 100px 0;
  width: 90%;
  height: 500px;
  /* position: absolute; */
  /* left: -17%;*/
}
.aboutus_right {
  font-size: 16px;
  color: #636363;
  line-height: 25px;
}
.aboutus_right li {
  list-style: none;
}
.aboutus_right ul {
  line-height: 35px;
  margin-top: 25px;
}
.aboutus_right i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
  color: #f55f8d;
  border-radius: 35px;
  border: 2px solid #f55f8d;
  margin-right: 10px;
}
.aboutus_button {
  margin-top: 25px;
  padding: 20px 35px;
  font-size: 15px;
  /* font-weight: 500; */
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}

/*  Number*/
.number {
  background-image: url(./abc/hinhbaitap/bg14.png);
  background-position: center;
  /* background-repeat: no-repeat; */
  padding: 80px 0 50px;
  text-align: center;
}
.number_container {
  max-width: 1199px;
  margin: auto;
}
.number_content {
  display: flex;
  /* justify-content: space-around; */
}
.number_item {
  width: 25%;
}
.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number_item span {
  display: flex;
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
  justify-content: center;
}
.number_item span p {
  color: #262626;
  font-size: 60px;
  color: #f55f8d;
}

.number_item h2 {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

/* features */
.features {
  padding-top: 110px;
  background-image: url(./abc/hinhbaitap/bg2.png);
  background-size: 100%;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* padding-bottom: 0; */
  overflow: hidden;
}
.features_container {
  max-width: 1199px;
  margin: auto;
}
.features_content {
  display: flex;
}
.features_light {
  width: 50%;
}
.features_title {
  text-align: left;
  display: block;
}
.features_title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.features_title h2 {
  font-size: 70px;
  line-height: 1.1;
  /* font-weight: 800; */
  color: #262626;
  margin-bottom: 20px;
}
.features_tatle {
  display: block;
}
.features_a {
  padding: 0 50px 30px 0;
}
.features_aa {
  padding: 30px;
  background-color: rgba(234, 221, 221, 0.928);
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  /* overflow: hidden;*/
}
.features_aaa {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  /* transition: all 1s;*/
}
.features_aaaa {
  padding-left: 25px;
  z-index: 1;
  /* transition: all 1s;*/
}
.features_b {
  padding: 0 0px 0px 70px;
  margin-bottom: 40px;
}
.features_bb {
  padding: 30px;
  background-color: rgb(234, 221, 221, 0.928);
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  /* overflow: hidden;*/
}
.features_bbb {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  /* transition: all 1s;*/
}
.features_bbbb {
  padding-left: 25px;
  z-index: 1;
  /* transition: all 1s;*/
}
.features_right {
  width: 50%;
}
.features_hinh {
  margin-right: -80px;
}
.features_hinh img {
  max-width: 100%;
  /* animation: move2 5s infinite;*/
}

/* portfolio */
.portfolio {
  background-image: url(./abc/hinhbaitap/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;

  padding-top: 110px;
}
.portfolio_container {
  max-width: 1199px;
  margin: auto;
}
.portfolio_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1.3fr 1fr 1fr;
  gap: 35px;
  /*border-radius: 5px;*/
  height: 1000px;
}
.portfolio_item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  border-radius: 15px;
  /*border: 1px solid black;*/
}
.portfolio_item2 {
  border-radius: 15px;
}
.portfolio_item3 {
  border-radius: 15px;
}
.portfolio_item4 {
  border-radius: 15px;
}
.portfolio_item5 {
  grid-row: 2 / span 3;
  border-radius: 15px;
}
.portfolio_item6 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
  border-radius: 15px;
}
.portfolio_content img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
/* flan*/
.flan {
  background-image: url(./abc/hinhbaitap/bg16.png);
  /* background-size: cover; */
  background-position: center;
  background-repeat: space;
  text-align: center;
  margin-top: 100px;
}
.flan_container {
  max-width: 1199px;
  margin: auto;
}
.flan_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}
.flan_item {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  line-height: 50px;
}
.flan_item li {
  list-style: none;
}
.flan_item h3 {
  /* font-weight: 700; */
  color: #262626;
  font-size: 2rem;
}
.flan_item img {
  width: 125px;
}
.flan_item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.flan_item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.flan_item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
.flan_item ul {
  text-align: left;
}

/*testimonital */
.testimonital {
  text-align: center;
  background-image: url(./abc/hinhbaitap/bg17.png);
  background-size: 100%;
  background-position: center;
  /* background-repeat: no-repeat;*/
  padding-top: 150px;
}
.testimonital_container {
  max-width: 1199px;
  margin: auto;
}

/* blog*/
.blog {
  background-image: url(./abc/hinhbaitap/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}

.blog_container {
  max-width: 1199px;
  margin: auto;
}
.blog_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.blog_item {
  display: block;
  /*border: 1px solid black;*/
  border-radius: 5px;
  background-color: rgba(245, 95, 141, 0.1);
  text-align: left;
  position: relative;
}
.blog_item img {
  display: block;
  width: 100%;
}

.blog_header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 233px;
  left: 15px;
  /*z-index:99999;
    display: inline-block;*/
}
.blog_body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog_body h3 {
  font-size: 1.5rem;
  /* font-weight: 700; */
  color: #262626;
}
.blog_footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog_footer span {
  color: #f55f8d;
}
.blog_footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  justify-content: space-around;
}
/* footer*/
.footer {
  background-image: url(./abc/hinhbaitap/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
.footer::before {
  content: "";
  background-image: url(./abc/hinhbaitap/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer_container {
  max-width: 1199px;
  margin: auto;
}
.footer_top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(./abc/hinhbaitap/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer_text {
  width: 50%;
}
.footer_text h2 {
  font-size: 28px;
  color: #262626;
}
.footer_form {
  width: 50%;
}
.footer_form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer_form input {
  padding: 20px 20px;
  font-size: 15px;
  /* font-weight: 400; */
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  /* outline: 0; */
  /* transition: all .5s;*/
}
.footer_form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  /* transition: all .5s; */
  /* border-radius: 0 0.5rem 0.5rem 0; */
  color: #fff;
  /* cursor: pointer; */
}
.footer_bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer_item {
  width: 25%;
}
.footer_item a {
  color: #636363;
  font-size: 16px;
  /* transition: all .5s; */
}
.footer_item i {
  font-weight: 700;
  margin-right: 10px;
}
.footer_item h3 {
  font-size: 24px;
  /* font-weight: 700; */
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer_item li {
  padding: 0.5rem 0;
  list-style: none;
}
.footer_right {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.container_right {
  display: flex;
  justify-content: space-between;
}
.footer_l span {
  color: #f55f8d;
}
.footer_r a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  /* font-size: 14px; */
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  /* transition: all .5s;*/
}
